.info-area {
  width: 500px;         /* Збільшена ширина */
  margin: 20px auto;     /* Центрування по горизонталі */
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

/* Медіа-запит для мобільних пристроїв */
@media (max-width: 768px) {
  .info-area {
    width: 90%; /* Повна ширина екрану */
    margin: 10px auto; /* Зменшено відступи */
    padding: 15px; /* Зменшено внутрішні відступи */
    font-size: 14px; /* Оптимальний шрифт для мобілки */
  }
}